<nav class="navbar navbar-light bg-light">
  <h1>WIKINOUNOURS</h1>
</nav>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-warning" type="button"><%= link_to "Add a new article", new_article_path %></button>
  </form>
</nav>


<% @articles.each do |article| %>
  <h2><%= link_to article.title, article_path(id: article.id)%></h2>
  <p><%= article.content %></p>
<% end %>
<%= link_to "+ Add a new article", new_article_path %>
